<!DOCTYPE html>
<html lang="en">

<head>
    <meta property="og:site_name" content="Embeddit" />
    <meta property="theme-color" content="#ff4400" />
    <meta property="twitter:card" content="player" />

    <link href='<%= server_base %>/logos/reddit.svg' rel='icon' sizes='svgxsvg' type='image/svg+xml'>
    <link href='<%= server_base %>/logos/reddit64.png' rel='icon' sizes='64x64' type='image/png'>
    <link href='<%= server_base %>/logos/reddit48.png' rel='icon' sizes='48x48' type='image/png'>
    <link href='<%= server_base %>/logos/reddit32.png' rel='icon' sizes='32x32' type='image/png'>
    <link href='<%= server_base %>/logos/reddit24.png' rel='icon' sizes='24x24' type='image/png'>
    <link href='<%= server_base %>/logos/reddit16.png' rel='icon' sizes='16x16' type='image/png'>


    <link rel="canonical" href="<%= permalink %>" />
    <meta property="og:url" content="<%= permalink %>" />
    <meta http-equiv="refresh" content="0;url=<%= permalink %>" />

    <meta property="twitter:site" content="<%= author %>" />
    <meta property="twitter:creator" content="<%= author %>" />

    <title>Comment in "<%= title %>"</title>
    <meta property="twitter:title" content="u/<%= author %> (@ <%= subreddit %>)" />
    <meta property="og:title" content="u/<%= author %> (@ <%= subreddit %>)" />
    
    <meta property="og:description" content="<%= body %>" />


    <link href="<%= server_base %>/users/0/statuses/<%= statusId %>"
        rel="alternate" type="application/activity+json">
</head>

<body></body>

</html>